{{ partial "header.html" . }}
	<div id="mobileLogo">
		{{ partial "floating-logo.html" . }}
	</div>
	{{ partial "main-nav.html" .}}
	{{ partial "mobile-nav" .}}

	<div class="container-fluid">
		<div class="row">
			<h1>{{ .Title }}</h1>
		</div>
		{{ range .Paginator.Pages }}
		<div class="row">
			<div class="col">
				{{ partial "featured_image.html" . }}
			</div>
			<div class="post col">
				<div class="post-heading">
					<h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
					<p><span>Type:</span>{{ if .Params.resource_type }} {{ .Params.resource_type }}{{ end }}</span></p>
					{{ .Content }}
				</div>
			</div>
		</div>
		{{ end }}
		<div class="text-center">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>

{{ partial "footer.html" . }}