<div id="contactForm">
    <div id="messageSuccess" class="bg-green-300 border-green-700 text-green-950 rounded-md px-4 py-2 my-2 w-full hidden"><i class="fa-light fa-check mr-2"></i>Your message was sent successfully!</div>
              <div id="messageError" class="bg-red-300 border-red-600 text-red-950 rounded-md px-4 py-2 my-2 w-full hidden"><i class="fa-light fa-triangle-exclamation mr-2"></i>Error sending message. Please try again.</div>
    <form id="emailForm">
        <div class="mb-3">
            <label for="nameField" class="mb-2 inline-block text-sm text-gray-500 sm:text-base">Your name</label>
            <input type="text" name="name" id="nameField" class="w-full rounded border border-gray-600 px-3 py-2 text-gray-300 outline-none ring-sky-500 transition duration-100 focus:ring" placeholder="Name">
        </div>
        <div class="mb-3">
            <label for="emailField" class="mb-2 inline-block text-sm text-gray-500 sm:text-base">Your email</label>
            <input type="email" name="email" id="emailField" class="w-full rounded border border-gray-600 px-3 py-2 text-gray-300 outline-none ring-sky-500 transition duration-100 focus:ring" placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="messageField" class="mb-2 inline-block text-sm text-gray-500 sm:text-base">Your message</label>
            <textarea name="message" id="messageField" class="h-64 w-full rounded border border-gray-600 px-3 py-2 text-gray-300 outline-none ring-sky-500 transition duration-100 focus:ring"></textarea>
        </div>
        
        <input type="hidden" id="captchaResponse" name="g-recaptcha-response">

        <div class="w-full justify-items-end form-footer mt-3">
            <button type="submit" class="inline-block rounded-md bg-sky-500 px-8 py-3 text-center text-sky-950 font-semibold hover:bg-sky-400 transition duration-100">
                Send Message
            </button>
        </div>
    </form>
</div>

{{ $formScript := resources.Get "js/jb_form.js" }}
<script src="{{ $formScript.RelPermalink }}"></script>