<!-- {{ partial "modal-contact.html" . }} -->
<div id="mobileFooter" class="container-fluid">
  {{ partial "mobile-footer.html" . }}
</div>

{{ template "_internal/google_analytics.html" . }}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://kit.fontawesome.com/7529b71c4e.js" crossorigin="anonymous"></script>
{{ $highlightjs := resources.Get "js/highlight.min.js" }}
{{ $higlightline := resources.Get "js/highlight.ln.js" }}
{{ $scripts := resources.Get "js/main.js" }}

<script src="{{ $highlightjs.RelPermalink }}"></script>
<script src="{{ $higlightline.RelPermalink }}"></script>
<script src="{{ $scripts.RelPermalink }}"></script>


</body>
</html>