<nav id="mainNav" class="bg-gray-950/80 fixed top-0 left-0 w-full z-50">
    <div class="container mx-auto px-4">
        <div id="" class="flex justify-end items-center h-16">
                {{ range .Site.Menus.main }}
                <span class="nav-item mx-6">
                    <a class="nav-link text-gray-500 font-prometo uppercase hover:text-sky-500 transition-colors duration-300" href="{{.URL}}">{{ .Name }}</a>
                </span>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>