<div id="mobileMenu" class="w-full h-100 fixed top-0 left-0 z-50 bg-slate-950/90 hidden">
    <div class="flex w-full justify-items-end">
        <div class="col-1 p-2"><a href="javascript:void(0)" class="close-overlay-trigger "><i class="fa fa-times"></i></a></div>
    </div>
    <div class="container">
        <div class="nav-overlay row">
            <div class="col text-center mt-5">
                <ul class="mobile-nav">
                    {{ range .Site.Menus.main }}
                    <li class="nav-item">
                        <a class="nav-link p-3" href="{{.URL}}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>