<div id="modalContact" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalContact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content px-3">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Contact Me</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></i>&nbsp;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col">
                    <p>Thank you for visiting my site. I hope you found something useful or interesting. Please use this form to send me any feedback, questions or just to connect. Have a wonderful day!
                    </p>
                  </div>
              </div>
          </div>
       
        {{ partial "contact-form.html" .}}
      </div>
       
    </div>
  </div>
</div>
