{{ range .Paginator.Pages }}
<div class="flex flex-wrap w-full bg-gray-950/80 rounded-md p-4 my-8">
    <div class="sm:flex-auto md:flex-none w-150">
        {{ partial "featured_image.html" . }}
    </div>
    <div class="flex-1 p-4">
        <div class="resource-information">
            <h1 class="mb-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            <p><strong>Type:</strong>{{ if .Params.resource_type }} <span class="text-slate-600 px-3 py-1 ml-1">{{ .Params.resource_type }}</span>{{ end }}</p>
            <div class="resource-description text-slate-300">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}