
	<div class="sidebar-content">
		<div id="mainLogo" class="width-full max-w-80">
			<a href="{{ .Site.BaseURL }}"><img src="{{ "img/logo-monogram-scan@2x.png" | relURL }}" alt="test" /></a>
		</div>

		<div class="sidebar-description border-y border-gray-600 my-4 py-4">
			<p class="text-gray-600">{{ .Site.Params.description }}</p>
		</div>

		{{ if .Site.Params.sidebarFreeText }}
		<div class="sidebar-freetext mb-4">
			<p>{{ .Site.Params.sidebarFreeText }}</p>
		</div>
		{{ end }}

		<div class="sidebar-menus sidebar-icons">
			{{ partial "social.html" . }}
		</div>

		<!-- <div class="sidebar-recent">
			<p>Recent Posts:</p>
			<ul>
			{{ range first 5 (where .Site.RegularPages "Section" "post") }}
				<li><a href="{{.Permalink}}">{{ .Title }}</a></li>
			{{ end }}
			</ul>
		</div> -->
	</div>
