<div class="col offset-sm-1">
    <h5>Design</h5>
    <ul class="fa-ul">
        {{ range .Design }}
        <li><span class="fa-li"><i class="fal fa-circle"></i></span>{{ . }}</li>
        {{ end }}
    </ul>
</div>

<div class="col">
    <h5></i>Development</h5>
    <ul class="fa-ul">
        {{ range .Development }}
            <li><span class="fa-li"><i class="fal fa-circle"></i></span>{{ . }}</li>
        {{ end }}
    </ul>
</div>

<div class="col">
    <h5>Systems</h5>
    <ul class="fa-ul">
        {{ range .Systems }}
        <li><span class="fa-li"><i class="fal fa-circle"></i></span>{{ . }}</li>
        {{ end }}
    </ul>
</div>