<div class="col ps-2">
    <h3 class="fw-bold">Design</h3>
    <ul class="fa-ul">
        {{ range .Design }}
        <li><span class="fa-li"><i class="fal fa-circle"></i></span>{{ . }}</li>
        {{ end }}
    </ul>
</div>

<div class="col">
    <h3 class="fw-bold"></i>Development</h3>
    <ul class="fa-ul">
        {{ range .Development }}
            <li><span class="fa-li"><i class="fal fa-circle"></i></span>{{ . }}</li>
        {{ end }}
    </ul>
</div>

<div class="col">
    <h3 class="fw-bold">Systems</h3>
    <ul class="fa-ul">
        {{ range .Systems }}
        <li><span class="fa-li"><i class="fal fa-circle"></i></span>{{ . }}</li>
        {{ end }}
    </ul>
</div>