<div id="socialLinkGroup" class="social-icons my-5 py-3 text-center border-t border-b border-gray-700">
    <ul class="list-none text-2xl flex justify-between">
        <li class="inline-block"><a href="javascript:void(0)" id="modalTrigger" class="text-slate-400 hover:text-sky-500 transition-colors duration-300"><i class="far fa-envelope" aria-hidden="true"></i></a></li>
        <li class="inline-block"><a href="https://www.behance.net/johnnybilotta" target="_blank" alt="Behance Portfolio" class="text-slate-400 hover:text-sky-500 transition-colors duration-300"><i class="fab fa-behance"></i></a></li>
        <li class="inline-block"><a href="https://github.com/johnnynines" target="_blank" alt="Github Profile" class="text-slate-400 hover:text-sky-500 transition-colors duration-300"><i class="fab fa-github"></i></a></li>
        <li class="inline-block"><a href="https://www.linkedin.com/in/johnnybilotta/" target="_blank" alt="LinkedIn Profile" class="text-slate-400 hover:text-sky-500 transition-colors duration-300"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</div>