#mainLogo {
    margin-bottom: 2em;
    width: 17em;
    
    img {
        width: 16em;
    }
}

#floatingLogo {
    position: fixed;
    top: 2%;
    left: 5%;
    z-index: 2000;
    img {
        width: 10em;
    }
}

.feature-img-container {
    height: 260px;
    overflow:hidden;
    margin-bottom: 1em;
}

.featured-image {
    width: 100%;
}

#profileImg {
    img {
        width: 20rem;
    }
}