#mainLogo {
    margin-bottom: 2em;
    width: 17em;
    
    img {
        width: 16em;
    }
}

#floatingLogo {
    position: fixed;
    top: 0;
    left: -6em;
    z-index: 2000;
    img {
        width: 25rem;
    }
}

.feature-img-container {
    height: 260px;
    overflow:hidden;
    margin-bottom: 1em;
}

.tile-feature-img-container {
    height: 6em;
    overflow: hidden;;
}

.featured-image {
    width: 100%;
}

#profileImg {
    img {
        
    }
}

#mobileLogo {
    display: none;
}

.post-body {
    figure {
        .full {
            position: relative;
            width: 100%;
        }
    }
}

.img-list {
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: relative;

    .img-desc {
        background-color: rgba($color: #000000, $alpha: 0.5);
        color: $lgt-grey;
        height: 2em;
        position: absolute;
        bottom: .5em;
        left: .5em;
        right: 0;
        width: 40%;
    }
}

.icon-fragment {
    i {
        font-size: $font-size-xxl;
        text-align: center;
    }
}

.jb-icon {
    width: 30%;
    height: 30%;
}


@include media-breakpoint-down(md){
    #mobileLogo {
        display: block;

        #floatingLogo {
            left: -10%;

            img {
                width: 18rem;
            }
        }
    }
}
