#mainLogo {
    margin-bottom: 2em;
    width: 17em;
    
    img {
        width: 16em;
    }
}

#floatingLogo {
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 2000;
    img {
        width: 25rem;
    }
}

.feature-img-container {
    height: 260px;
    overflow:hidden;
    margin-bottom: 1em;
}

.featured-image {
    width: 100%;
}

#profileImg {
    img {
        width: 15rem;
    }
}

#mobileLogo {
    display: none;
}

@include media-breakpoint-down(md){
    #mobileLogo {
        display: block;

        #floatingLogo {
            left: -10%;

            img {
                width: 18rem;
            }
        }
    }
}
