.hidden {
    display: none;
}

#mainContainer {
    background-attachment: fixed;
    background-image: url("../img/bg-starfield.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient-bg {
    background-attachment: fixed;
    background-image: url("../img/background-gradient-01@2x.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.message-404 {
    height: 80vh;
    img {
        width: 100%;
    }
}
.content {
    padding-top: 2em;
}
#mainContainer {
    .post {
        background: rgba(16, 26, 35, 0.85);
        margin-bottom: 2em;
    
        .post-heading, .post-summary {
            padding:  0 1em;
        }
    
        .post-summary {
            padding-bottom: 1em;
        }
    }
}

#mainNav {
    background-color: rgba(6, 16, 22, 0.85);
}

@include media-breakpoint-down(md) {
    #mainNav {
        ul.navbar-nav {
            .nav-item {
                display: none;
            }
        }
    }
}

#mobileMenu {
    background-color: rgba(6, 16, 22, 0.85);

    ul.mobile-nav {
        font-size: $font-size-xl;

        .nav-link {
            display: block;
            color: $lgt-grey;
        }
    }
}

.mobile-overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    z-index: 1020;
}

.mobile-nav-trigger, .close-overlay-trigger {
    display: block;
    font-size: $font-size-lg;
    color: $lgt-grey;

    &:hover,&:active {
        color: $blue;
    }
}

@include media-breakpoint-up(md) {
    .mobile-nav-trigger {
        display: none;
    }
}

.border-top {
    border-top: 1px dotted $mtl-grey !important;
}

.border-bottom {
    border-bottom: 1px dotted $mtl-grey !important;
}

#modalContact {
    .modal-content{
        background-color: $drkr;
        border-color: $blu;

        .modal-header {
            border-bottom: 1px dotted $blu;
        }
    }
   #contactForm {
       textarea {
           height: 120px;
       }
   }
}

.section-bg-drk {
    background-color: $dark;
}

#leftSidebar {
    display: none;
}

#galleryChild {
    margin-top: 5em;
}

.post-list {
    ul {
        list-style: none;
        margin: 0;
        li {
            background:rgba(9, 25, 34, 0.85);
            display: inline-block;
        }
    }
}

.tile {
    // height: 10em;
    // width: 10em;
}

.dark-bg {
    background-color: $drkr;
}

@include media-breakpoint-up(md) {
    #leftSidebar {
        display: block;
    }
}

