#mainContainer {
    background-attachment: fixed;
    background-image: url("../img/bg-starfield.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient-bg {
    background-attachment: fixed;
    background-image: url("../img/background-gradient-01@2x.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.message-404 {
    height: 80vh;
    img {
        width: 100%;
    }
}
.content {
    padding-top: 2em;
}
#mainContainer {
    .post {
        background: rgba(16, 26, 35, 0.85);
        margin-bottom: 2em;
    
        .post-heading, .post-summary {
            padding:  0 1em;
        }
    
        .post-summary {
            padding-bottom: 1em;
        }
    }
}

#mainNav {
    background-color: rgba(9, 25, 34, 0.85);
}

.border-top {
    border-top: 1px dotted $mtl-grey !important;
}

.border-bottom {
    border-bottom: 1px dotted $mtl-grey !important;
}

#modalContact {
    .modal-content{
        background-color: $drkr;
        border-color: $blu;

        .modal-header {
            border-bottom: 1px dotted $blu;
        }
    }
   #contactForm {
       textarea {
           height: 120px;
       }
   }
}

.section-bg-drk {
    background-color: $dark;
}

#leftSidebar {
    display: none;
}

@include media-breakpoint-up(md) {
    #leftSidebar {
        display: block;
    }
}