// Resets

a {
    color: $blu;
    text-decoration: none;
    &:hover {
        color: $blu;
        text-decoration: underline;
    }

    &:visited, &:active, &:focus {
        color: $blu;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $prometo;
    font-weight: $med;
}

h1 {
    color: $red;
}

.post {
    h1 {
        color: $wht;
        margin-bottom: 0.15rem;

        a {
            color: $red;
        }
    }
}

.single-post {
    h1 {
        color: $wht;
        font-size: $font-size-xxl;
        text-transform: uppercase;
    }

    h2 {
        color: $wht;
        margin: 2rem 0 1rem 0;
    }

    .post-body {
        font-size: $font-size-md;  
        line-height: $line-height-md; 
    }
}

body {
    font-family: $sans-serif;
    font-weight: $normal;
    line-height: 1.75em;
}

ul.navbar-nav {
    font-family: $prometo;
    text-transform: uppercase;
}

span.post-meta-date {
    margin-bottom: 1em;
}

#socialSharingGroup {
    position: fixed;
    top: 45vh;
    left: 15vw;
}

#socialLinkGroup {
    ul {
        display: inline;
        li {
            display: inline;
            a {
                color: $lgt-grey;
            }
        }
    }
}

.social-icons {
    font-size: 1.5em;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 .5rem;
            padding: 0.25rem;
        }
    }
}

#profile {
    #socialLinkGroup {

    }
}

.post-date {
   font-family: $prometo;
   font-size: $font-size-md;
   font-weight: $med;
   color: $dkr-grey;
}

// Lists
.ul {
    list-style: none;
}

.file-list {
    list-style: none;
    
    li {
        a {
            color: $blu;
        }
    }
}

#modalContact {
    .modal-header {
        // .btn-close {
        //     color: $wht;
        //     background-color: $wht;
        //     border-color: $blu;
        //     border-width: 1px;
        //     border-style: solid;
        //     opacity: 1;
        // }
    }
}