// Color

$blk: #101a23;
$wht: #fff;
$off-wht: #f1f1f2;
$off-wht-tint: #e8e8e8;
$lgt-grey: #96acbf;
$mtl-grey: #4e6273;
$dkr-grey: #6d7d8b;
$drk-blu: #1a2a36;
$drkr: #091922;
$red: #ff001f;
$body-bg: #1e2f3d;
$blu: #19c8ff;
$blu-new: #14212a;
$tarmac: #3b4356;

// Fonts
$fa-font-path: "../webfonts/";
$input-sans-reg: input-sans, sans-serif;
$input-sans-condensed: input-sans-condensed, sans-serif;
$input-sans-narrow: input-sans-narrow, sans-serif;
$titles:        video, sans-serif;
$titles-cond:   video-cond, sans-serif;
$mono:          dico-code-one, mono;
$sans-serif:    proxima-nova, sans-serif;
$thin:          100;
$light:         200;
$normal:        400;
$bold:          700;

$font-size-sm: 0.75rem;
$font-size-base: 0.875rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 4rem;

$line-height-md: 2.25rem;


// Borders

