{{ partial "header.html" . }}
{{ partial "main-nav.html" .}}
{{ partial "mobile-nav" .}}
{{ partial "floating-logo.html" .}}
	<div id="galleryList" class="container-sm">
		<div class="gallery-title row my-5">
			<div class="col-lg-10">
				<h1>{{ .Title }}</h1>
				<p>{{ .Description }}</p>
			</div>
		</div>
		<div id="downloadContent" class="row">
			{{ range .Paginator.Pages }}
			<div class="col-lg-3 col-sm-12">
				<div class="card mb-5">
					<div class="tile-feature-img-container mb-1">
						{{ if .Params.featured_image }}
						{{ range .Resources.Match "featured-image.jpg"}}
							<img class="featured-image card-img-top" src="{{ .Permalink }}" />
						{{ end }}

						{{ else }}
							<img class="featured-image card-img-top" src="{{ .Site.Params.featuredImageDefault | absURL }}" />
						{{ end }}
					</div>
					<div class="card-body">	
						<h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<span class="post-date card-subtitle">{{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} by {{ .Params.author }}{{ end }}</span>
						<p class="card-text">{{ .Description }}</p>
						<span class="ms-3"><a href="{{ .Permalink }}"><i class="fal fa-eye me-2"></i> View</a></span>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="text-center">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>

{{ partial "footer.html" . }}