{{ partial "header.html" . }}
{{ partial "main-nav.html" .}}
{{ partial "floating-logo.html" .}}
	<div id="mobileLogo">
		{{ partial "floating-logo.html" . }}
	</div>

	<div class="container-fluid">
		<div id="galleryList">
			<div class="gallery-title dark-bg row">
				<div class="offset-lg-3 col-lg-9">
					<h1>Textures</h1>
					{{ partial "breadcrumb.html" .}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 offset-sm-2 col-md-8 offset-md-3 col-lg-10 offset-lg-2 content">
					<div class="post-list my-5">
						<ul class="tiles-img">
							{{ range .Paginator.Pages }}
							<li class="p-1 m-2 col-3">
								<div class="tile">
									<div class="tile-feature-img-container mb-1">
										{{ if .Params.featured_image }}
										{{ range .Resources.Match "featured-image.jpg"}}
											<img class="featured-image" src="{{ .Permalink }}" />
										{{ end }}
										{{ else }}
											<img class="featured-image" src="{{ .Site.Params.featuredImageDefault | absURL }}" />
										{{ end }}
									</div>
									<div class="post-heading">
										<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
										<span class="post-date">{{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} by {{ .Params.author }}{{ end }}</span>
									</div>
								</div>
							</li>
							{{ end }}
						</ul>
					</div>
					
					<div class="text-center">
						{{ template "_internal/pagination.html" . }}
					</div>
				</div>
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}