{{ partial "header" .}}
{{ partial "main-nav.html" .}}
{{ partial "floating-logo.html" .}}
<div id="singleContent" class="container-fluid single-post">
    <div id="galleryChild" class="row">
        <div class="col-3">
            <div id="gallery-meta" class="mt-5">
                <h3>Gallery Info</h3>
                <ul>
                    <li>This is one piece of info</li>
                    <li>Yet another piece of info</li>
                    <li>One more to get</li>
                </ul>
            </div>

        </div>
        <div class="gallery-one col-9">
            {{ partial "breadcrumb-alt.html" .}}
            {{ with .Resources.Match "images/*" }}
                {{ range . }}
                    <div class="img-list my-3 p-2">
                        <img class="img-texture img-fluid" src="{{ . }}" alt="texture">
                        <div class="img-desc p-1">
                            <p>This is just the description</p>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>