{{ partial "header.html" . }}
{{ partial "floating-logo.html" .}}
{{ partial "main-nav.html" .}}
<div class="gradient-bg">
	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-sm-6">
				<div class="message-404 text-center">
					<img src="{{ "img/404.svg" | relURL }}" alt="test" />
					<p>Unfortunately I moved that item or removed it from the site.</p>
					<p><a href="{{ .Site.BaseURL }}">Return to the home page</a></p>
				</div> 
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-sm-6">
				<div class="col-6">
					{{ partial "social.html" . }}
				</div>
			</div>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}