{{ partial "header.html" . }}
	<div id="mobileLogo" class="invisible">
		{{ partial "floating-logo.html" . }}
	</div>
	{{ partial "main-nav.html" .}}
	{{ partial "mobile-nav" .}}
	<div id="mainContainer" class="container mx-auto py-8 bg-gray-900">
		<div class="flex justify-center">
			<div id="leftSidebar" class="flex-none w-100 mx-5 px-4">
				{{ partial "sidebar-content.html" . }}
			</div>
			<div class="w-100 flex-auto mx-12 content">
				{{ partial "post-summary.html" . }}
				<div class="text-center mb-4">
					{{ template "_internal/pagination.html" . }}
				</div>
			</div>
		</div>
	</div>
	{{ partial "footer.html" .}}

