{{ $skills := .skills | default (slice "UI Design" "JavaScript" "Linux" "Team Leadership" "Figma" "AWS") }}
{{ $levels := .levels | default (slice 80 70 60 50 40 60) }}
{{ $width := .width | default 300 }}
{{ $height := .height | default 300 }}
{{ $id := .id | default "radar-chart" }}
{{ $dataSource := .dataSource | default "" }}

{{ $defaultColors := dict "stroke" "#ccc" "fill" "rgba(0, 123, 255, 0.5)" "border" "#007bff" "textCategory" "#FFF" "textValue" "#007bff" }}
{{ $colors := $defaultColors }}
{{ with .colors }}
  {{ $colors = merge $defaultColors . }}
{{ end }}

<!-- Load skills and levels from data file if provided -->
{{ if ne $dataSource "" }}
  {{ with site.Data }}
    {{ range $section, $content := . }}
      {{ if eq $section $dataSource }}
        {{ with $content.levels }}
            {{ $levels = . }}
        {{ end }}
        {{ with $content.skills }}
          {{ $skills = . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<svg id="{{ $id }}" xmlns="http://www.w3.org/2000/svg" viewBox="-270 -220 540 440" width="{{ $width }}" height="{{ $height }}">
    <!-- Define levels as hexagons -->
    <polygon points="0,-40 34.64,-20 34.64,20 0,40 -34.64,20 -34.64,-20" fill="none" stroke="{{ $colors.stroke }}" />
    <polygon points="0,-80 69.28,-40 69.28,40 0,80 -69.28,40 -69.28,-40" fill="none" stroke="{{ $colors.stroke }}" />
    <polygon points="0,-120 103.92,-60 103.92,60 0,120 -103.92,60 -103.92,-60" fill="none" stroke="{{ $colors.stroke }}" />
    <polygon points="0,-160 138.56,-80 138.56,80 0,160 -138.56,80 -138.56,-80" fill="none" stroke="{{ $colors.stroke }}" />
    <polygon points="0,-200 173.2,-100 173.2,100 0,200 -173.2,100 -173.2,-100" fill="none" stroke="{{ $colors.stroke }}" />

    <!-- Define axes and labels -->
    <line x1="0" y1="0" x2="0" y2="-200" stroke="{{ $colors.stroke }}" />
    <line x1="0" y1="0" x2="173.2" y2="-100" stroke="{{ $colors.stroke }}" />
    <line x1="0" y1="0" x2="173.2" y2="100" stroke="{{ $colors.stroke }}" />
    <line x1="0" y1="0" x2="0" y2="200" stroke="{{ $colors.stroke }}" />
    <line x1="0" y1="0" x2="-173.2" y2="100" stroke="{{ $colors.stroke }}" />
    <line x1="0" y1="0" x2="-173.2" y2="-100" stroke="{{ $colors.stroke }}" />

    <!-- Category labels -->
    {{ range $i, $skill := $skills }}
        {{ $angle := mul $i (div (mul 2 3.14159) 6) }}
        {{ $labelX := 0 }}
        {{ $labelY := 0 }}
        
        {{ if eq $i 0 }}
            {{ $labelX = 0 }}
            {{ $labelY = -220 }}
        {{ else if eq $i 1 }}
            {{ $labelX = 190 }}
            {{ $labelY = -110 }}
        {{ else if eq $i 2 }}
            {{ $labelX = 190 }}
            {{ $labelY = 110 }}
        {{ else if eq $i 3 }}
            {{ $labelX = 0 }}
            {{ $labelY = 220 }}
        {{ else if eq $i 4 }}
            {{ $labelX = -190 }}
            {{ $labelY = 110 }}
        {{ else if eq $i 5 }}
            {{ $labelX = -190 }}
            {{ $labelY = -110 }}
        {{ end }}
        
        <text x="{{ $labelX }}" y="{{ $labelY }}" text-anchor="middle" font-size="24" fill="{{ $colors.textCategory }}">{{ $skill }}</text>
    {{ end }}

    <!-- Define data polygon -->
    <polygon points="
        {{ range $i, $level := $levels }}
            {{ $value := div $level 100.0 }}
            {{ $maxRadius := 200 }}
            {{ $radius := mul $maxRadius $value }}
            
            {{ if eq $i 0 }}
                0,{{ mul $radius -1 }}
            {{ else if eq $i 1 }}
                {{ mul 0.866 $radius }},{{ mul -0.5 $radius }}
            {{ else if eq $i 2 }}
                {{ mul 0.866 $radius }},{{ mul 0.5 $radius }}
            {{ else if eq $i 3 }}
                0,{{ $radius }}
            {{ else if eq $i 4 }}
                {{ mul -0.866 $radius }},{{ mul 0.5 $radius }}
            {{ else if eq $i 5 }}
                {{ mul -0.866 $radius }},{{ mul -0.5 $radius }}
            {{ end }}
        {{ end }}
    " fill="{{ $colors.fill }}" stroke="{{ $colors.border }}" />

    <!-- Data point values -->
    {{ range $i, $level := $levels }}
        {{ $value := div $level 100.0 }}
        {{ $maxRadius := 200 }}
        {{ $radius := mul $maxRadius $value }}
        {{ $valueX := 0 }}
        {{ $valueY := 0 }}
        
        {{ if eq $i 0 }}
            {{ $valueX = 0 }}
            {{ $valueY = add (mul $radius -1) -10 }}
        {{ else if eq $i 1 }}
            {{ $valueX = add (mul 0.866 $radius) 10 }}
            {{ $valueY = add (mul -0.5 $radius) -10 }}
        {{ else if eq $i 2 }}
            {{ $valueX = add (mul 0.866 $radius) 10 }}
            {{ $valueY = add (mul 0.5 $radius) 10 }}
        {{ else if eq $i 3 }}
            {{ $valueX = 0 }}
            {{ $valueY = add $radius 10 }}
        {{ else if eq $i 4 }}
            {{ $valueX = add (mul -0.866 $radius) -10 }}
            {{ $valueY = add (mul 0.5 $radius) 10 }}
        {{ else if eq $i 5 }}
            {{ $valueX = add (mul -0.866 $radius) -10 }}
            {{ $valueY = add (mul -0.5 $radius) -10 }}
        {{ end }}
        <!-- <text x="{{ $valueX }}" y="{{ $valueY }}" text-anchor="middle" font-size="16" fill="{{ $colors.textValue }}" font-weight="bold">{{ $level }}%</text> -->
    {{ end }}
</svg>