{{ partial "header.html" . }}
{{ partial "main-nav.html" .}}
{{ partial "mobile-nav" .}}
{{ partial "floating-logo.html" .}}
	<div id="singleContent" class="container-fluid single-post bg-[url(/img/bg-content.png)] bg-cover bg-left bg-fixed">
		{{ if .Params.featured_image }}
		{{ with .Params.featured_image }}
		<div id="letterboxHeader" class="h-96 content-end bg-center" style="background-image: url({{ . }});">
		{{ end }}

		{{ else }}
		<div id="letterboxHeader" class="h-96 content-end bg-center" style="background-image: url( {{ .Site.Params.featuredImageDefault | relURL }} )">	
		{{ end }}

			<div class="container flex items-center mx-auto max-w-4xl bg-gray-950/80 p-4">
				<div class="flex-auto *:post-heading">
					<h1 class="my-3 text-3xl text-red-600">{{ .Title }}</h1>
					<span class="post-date text-gray-400">{{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} by {{ .Params.author }}{{ end }}</span>
				</div>
			</div>
		</div>
		<div class="container flex max-w-4xl items-center mx-auto">
			<div class="flex-auto content">
				<div class="post-body mb-5 p-4">
					{{ .Content }}
				</div>
			</div>
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}
