{{ partial "header.html" . }}
{{ partial "main-nav.html" .}}
{{ partial "floating-logo.html" .}}
	<div id="singleContent" class="container-fluid single-post">

		{{ if .Params.featured_image }}
		{{ with .Params.featured_image }}
		<div id="letterboxHeader" class="row align-items-end" style="background-image: url({{ . }});">
		{{ end }}

		{{ else }}
		<div id="letterboxHeader" class="row align-items-end" style="background-image: url({{ .Site.Params.featuredImageDefault | absURL }})">	
		{{ end }}

			<div class="col-sm-7 offset-sm-3 py-3 post-heading">
				<h1 class="my-3">{{ .Title }}</h1>
				<span class="post-date">{{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} by {{ .Params.author }}{{ end }}</span>
			</div>
		</div>
		<div class="row">
			<div id="leftSidebar" class="col-sm-3 sidebar">

				{{ partial "social-share.html" . }}
	
			</div>
			
			<div class="col-sm-6 content">

				<div class="post-body">
					{{ .Content }}
				</div>

			</div>
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}
