{{ partial "header" . }}
{{ partial "main-nav.html" . }}
{{ partial "floating-logo.html" . }}
{{ partial "mobile-nav" . }}

<div id="about" class="md:mx-10 bg-[url(/img/bg-content-alt.png)] bg-cover bg-top lg:bg-center bg-fixed lg:mx-auto">
    <!-- About Section -->
    <div id="profile" class="container content-profile mx-auto">    
        <div class="flex flex-wrap md:flex-nowrap justify-center pt-[8em]">
            <div class="flex-none lg:w-100 lg:mx-5 lg:p-1">
                {{ partial "profile-pic.html" . }}
                {{ partial "social.html" . }}
            </div>
            <div class="flex-auto sm:mx-2 lg:mx-12 p-4 lg:p-9 text-2xl">
                <h1 class="font-prometo text-4xl font-bold text-red-600 mb-4">Hello! My name is Johnny Bilotta</h1>
                <p class="font-proxima text-slate-400">Thank you for visiting my website!</p>
                <div class="text-base/8">
                    {{ with .Site.GetPage "/profile/about.md"}}
                        {{ .Content }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>


    <!-- Mission Statement -->
    <div class="bg-slate-950/90 py-16">
        <div id="missionStatement" class="container mx-auto my-4 max-w-5xl px-4">
            <div class="w-full text-center mb-8">
                <h4 class="font-prometo uppercase text-3xl font-bold text-gray-100">Mission Statement</h4>
            </div>
            <div class="text-center font-sommet uppercase text-2xl font-extralight italic sm:w-full md:w-200 leading-7 mx-auto text-gray-300">
                <blockquote class="border-l-4 border-sky-500 pl-6 py-2">
                {{ with .Site.GetPage "/profile/mission-statement.md"}}
                    {{ .Content }}
                {{ end }}
                </blockquote>
            </div> 
        </div>
    </div>

    <!-- Product Experience Section -->
    <div class="bg-slate-900 py-16">
        <div id="experience" class="container mx-auto width-full">
            <div class="w-full flex flex-wrap justify-between profesional-experience">
                <div class="max-w-3xl flex-1 px-4 mr-5">
                    <h2 class="text-3xl font-bold font-prometo uppercase text-gray-100 mb-4">Product Design Principles</h2>
                    <p class="text-gray-300 text-xl max-w-3xl">A hands on approach to digital product design and development.</p>
                    {{ partial "design-experience.html" . }}
                </div>
                <div class="flex-1 px-4">
                    <h3 class="text-2xl font-bold font-prometo uppercase text-gray-100 mb-4">Skills &amp; Proficiencies</h3>
                    <ul class="flex flex-wrap gap-3 list-none my-8">
                        {{ with .Site.GetPage "/profile/skills.md" }}
                            {{ range .Params.Design }}
                                <li class="bg-slate-600 text-gray-300 px-3 py-1 rounded-full text-sm">{{ . }}</li>
                            {{ end }}
                        {{ end }}
                    </ul>
                    <div class="mt-8 pt-4 border-t border-slate-600">
                        <h3 class="text-2xl font-bold font-prometo uppercase text-slate-100 mb-4">Tools &amp; Utilities</h3>
                        <div class="mt-8">
                            {{ partial "svg-group" (dict "group" "design" "class" "tools-container" "max-height-[36px]" "tool-icon" "width" "36" "height" "36") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- Product Experience Section -->
    <div class="bg-slate-900 py-16">
        <div id="experience" class="container mx-auto width-full">
            <div class="w-full flex flex-wrap justify-between profesional-experience">
                <div class="max-w-3xl flex-1 px-4 mr-5">
                    <h2 class="text-3xl font-bold font-prometo uppercase text-gray-100 mb-4">Technology &amp; Development Principles</h2>
                    <p class="text-gray-300 text-xl max-w-3xl">Technical understanding that translates to more effctive design thinking</p>
                    {{ partial "development-experience.html" . }}
                </div>
                <div class="flex-1 px-4">
                    <h3 class="text-2xl font-bold font-prometo uppercase text-slate-100 mb-4">Tools &amp; Proficiencies</h3>
                    <div class="mt-8">
                        {{ partial "svg-group" (dict "group" "dev" "class" "tools-container" "max-height-[36px]" "tool-icon" "width" "36" "height" "36") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="bg-slate-950 py-16">
        <div id="contact" class="container mx-auto max-w-3xl px-4">
            <div class="w-full text-center mb-8">
                <h4 class="text-3xl font-bold font-prometo uppercase text-gray-100">Contact Me</h4>
                <p class="text-gray-300 text-xl mt-4">Interested in working together? Feel free to reach out!</p>
            </div>
            <div class="sm:w-full px-2 md:w-200 justify-items-center mx-auto">
                {{ partial "contact-form" .}}
            </div>
        </div>
    </div>
</div>
{{ partial "footer" .}}
