{{ partial "header" .}}
{{ partial "main-nav.html" .}}
{{ partial "floating-logo.html" .}}
{{ partial "mobile-nav" .}}

<div id="about" class="my-10 mx-auto">
    <div id="profile" class="container content-profile mt-10 mx-auto">    
        <div class="flex justify-center">
            <div class="flex-none w-100 mx-5 p-12">
                {{ partial "profile-pic.html" .}}
                {{ partial "social.html" . }}
            </div>
            <div class="flex-auto mx-12 content p-12">
                {{ with .Site.GetPage "/profile/about.md"}}
                    {{ .Content }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="bg-gray-950 py-5">
        <div id="missionStatement" class="container mx-auto">
            <div class="w-full text-center">
                <h4>Mission Statement</h4>
            </div>
            <div class="w-full text-center">
                <blockquote>
                {{ with .Site.GetPage "/profile/mission-statement.md"}}
                    {{ .Content }}
                {{ end }}
                </blockquote>
            </div>
        </div>
    </div>
    <div class="bg-gray-950 py-5">
        <div id="missionStatement" class="container mx-auto">
            <div class="w-full text-center">
                <h4>Contact Me</h4>
            </div>
            <div class="w-full justify-items-center">
                {{ partial "contact-form" .}}
            </div>
        </div>
    </div>
    <div class="py-5">
        <div id="aboutContact" class="container">
            <div class="row justify-content-center">
                <div class="col align-self-center text-center mb-3">
                    <h4>Contact Me</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-9">
                   
                </div>
                <!-- {{ range $.Site.Data.profile.skills }}
                    {{ partial "skill-section.html" . }}
                {{ end }} -->
            </div>
        </div>
    </div>
</div>
{{ partial "footer" .}}
